* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', serif;
    height: 100%;
}


/* HEADER */

header {

    background-color: #181C14;
    height: auto;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 70px;  o lo que mida tu header 
background-color: #fff; /* o el color que uses 
z-index: 1000;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);  */


h2 {
    color: #F1EFEC;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    height: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;

}

nav ul a {
    display: flex;
    text-decoration: none;
    color: #F1EFEC;
    padding: 15px 0px 0px 15px;
    transition: 400ms;

}

nav ul a:hover {
    transform: scale(1.1);
}

.nombre {
    display: flex;
    color: #F1EFEC;
    justify-content: flex-end;
    padding-right: 35px;

    font-size: 25px;
    margin-bottom: 15px;
}


/* main */

section {
    background-color: #3C3D37;
    height: 100vh;
    flex-grow: 1;
}

.division {
    height: 1px;
    width: auto;
    background-color: #3C3D37;
    display: flex;
    justify-content: center;
}

.division div {
    background-color: #F1EFEC;
    height: 1px;
    width: 80%;
    align-self: center;
}

h2 {
    text-shadow: 2px 2px #181C14;
}

h3 {
    color: #F1EFEC;
}

p {
    color: #F1EFEC;
}

.sectionInfo {
    height: 450px;
    /*border: solid yellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.txtInfo {
    height: auto;
    width: 500px;

    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* margin-top: 30px;
    margin-right: 75px;*/
}


.fotoPerfil {
    border-radius: 5%;
}



.sectionConocimientos {
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}

.txtConocimientos {
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

.inconosSecCon {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    justify-self: end;
}

.iconoConocimiento {
    height: auto;
    width: 80px;

    transition: 400ms;
}

.iconoConocimiento:hover {
    transform: scale(1.1);
}

.iconoConocimiento img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}



.sectionProy {
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

.h2Proy {
    padding-bottom: 50px;
}

.divProys {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    align-items: center;
    gap: 20px;
}

.proy {
    height: 350px;
    width: 100%;

    background-color: #181C14;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transition: 400ms;
    border-radius: 2%;

    padding-left: 30px;

}

.proy:hover {
    transform: scale(1.1);
}

.proy h3 {
    padding-bottom: 30px;
}

.proy img {
    width: 400px;
    height: 238px;
}

.proy p {
    padding-bottom: 30px;
    width: 80%;
    height: 260px;
    margin-top: 30px;
}

.proy a {
    padding-bottom: 15px;
    color: #F1EFEC;
}



.sectionEstudios {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.estudios {
    height: 400px;
    width: 75%;

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

.estudios h2 {
    padding-bottom: 15px;
}

.estudios ul {
    list-style-type: none;
    padding-left: 20px;
}


.estudios ul li {
    color: #F1EFEC;

}


/*FOOTER*/


footer {
    display: flex;
    background-color: #181C14;
}


form {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sectionContacto {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}



.formulario {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: #3C3D37;
    align-items: center;
    padding-top: 15px;
    margin-left: 100px;
    border-radius: 3%;
}



.formulario label {
    display: flex;

    justify-content: center;
    gap: 10px;

    padding: 20px 10px 10px 10px;
}

.formulario label span {
    width: 60px;
    color: #F1EFEC;
}

.formulario label textarea {
    resize: none;
}

.input-mensaje {
    height: 100px;
}


.redes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.imgRedes {

    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 100px;

    gap: 30px;
    justify-content: center;
}

.vinculo img {


    height: 100px;
    width: 100px;
    object-fit: contain;
}